*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.container
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .ring
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animates 4s linear infinite;
}

@keyframes animates
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.container .ring::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#24ecff;
    top: 12px;
    right: 12px;
    box-shadow:  0 0 0 5px #24ecff33,
     0 0 0 10px #24ecff22,
     0 0 0 20px #24ecff11,
     0 0 30px #24ecff,
     0 0 50px #24ecff;
}

.container .ring:nth-child(2)
{
    animation: animate2 4s linear infinite;
    animation-delay: -1s;
    border-left: 4px solid #29f30a;
    border-top: 4px solid transparent;
}


@keyframes animate2
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.container .ring:nth-child(2)::before
{
    content: '';
    position: absolute;
    top: initial;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#29f30a;
    top: 12px;
    left: 12px;
    box-shadow:  0 0 0 5px #29f30a33,
     0 0 0 10px #29f30a22,
     0 0 0 20px #29f30a11,
     0 0 30px #29f30a,
     0 0 50px #29f30a;
}

.container .ring:nth-child(3)
{
    animation: animate2 4s linear infinite;
    animation-delay: -2s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #e11cf8;
}

.container .ring:nth-child(3)::before
{
content: '';
    position: absolute;
    top: initial;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#e11cf8;
    top: 12px;
    left: 12px;
    box-shadow:  0 0 0 5px #e11cf833,
     0 0 0 10px #e11cf822,
     0 0 0 20px #e11cf811,
     0 0 30px #e11cf8,
     0 0 50px #e11cf8;
}

.container .ring:nth-child(3)
{
    animation: animate2 4s linear infinite;
    animation-delay: -2s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #e11cf8;
}

.container p
{
    position: absolute;
    color: rgb(208, 255, 0);
    font-size: 1.2em;
    bottom: -80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2em;
    -webkit-text-stroke: 0.3w #4021a9;
    text-transform: uppercase;
}

.container p::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(13, 122, 255);
    -webkit-text-stroke: 0vw #375fff;
    border-right: 2px solid rgb(208, 84, 30);
    overflow: hidden;
    animation: textanimate 6s linear infinite;

}
@keyframes textanimate 
{
    0%
    {
        width: 0;
    }
    70%
    {
        width: 100%;
    }
}